/*Nav*/

nav {
    width: 100%;
    height: 80px;
    background-color: #353a40;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    z-index: 5;
}

.nav-item {
    list-style: none;
    color: aliceblue;
    font-size: 16px;
    margin: 0 10px;
    line-height: 60px;
    width: max-content;
    font-family: Arial;
}

.nav-item a:hover {
    font-size: 17px;
    transition: 0.6s;
    opacity: 0.9;
    color: rgb(245, 252, 150);
}

#tickets:hover {
    font-size: 20px!important;
    transition: 0.6s!important;
    opacity: 0.9!important;
    color: #9bffa9 !important;
}

#logo {
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    align-content: center;
}

#logo img {
    width: 30%;
}

.nav-menu {
    display: flex;
    margin-right: 30px;
}

#boton-nav {
    background: none;
    color: white;
    font-size: 30px;
    border: none;
    padding: 0 15px;
    line-height: 60px;
    display: none;
}

nav a {
    font-size: medium;
    padding-right: 50px;
    margin: 3px;
    text-align: right;
    text-decoration: none;
    color: #ffffff;
}


/*Div descripcion*/

body {
    margin: 0px;
    padding: 80px 0;
    z-index: 3;
}

#descripcion {
    height: 300px;
    display: flex;
    color: #ffffff;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/Lugares/hawaii2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#descripcion div {
    text-align: justify;
    font-family: sans-serif;
    width: 30%;
    text-align: right;
    margin-left: 68%;
}


/*Div separador*/

.separador div {
    text-align: center;
}

.separador p {
    font-family: 'Times New Roman';
}

.separador h2 {
    font-family: 'Lucida Sans';
}


/*Tarjetas*/

.conteiner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 800px;
    margin: auto;
}


/*tarjetas oradores*/

.tarjeta {
    flex-direction: row;
    justify-content: center;
    width: 300px;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 2%;
    margin: 5px;
}

.tarjeta img {
    width: 100%;
}

.informacion-tarjeta h3 {
    padding: 0px;
    margin-top: 4px;
}

.presentacion-tarjeta {
    display: flex;
    text-align: center;
    text-align: justify;
    padding: 5px;
}

.presentacion-tarjeta h3 {
    text-align: left;
}

.informacion-tarjeta {
    text-align: center;
    text-align: justify;
    padding: 15px;
    padding-top: 0px;
}


/*Div Cononce mas*/

#conoceMas {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*
    background-color: #353a40;
    color: #ffffff;*/
}

#conoceMas h2,
p,
a {
    padding: 12px;
}

#conoceMas img {
    padding: 0px;
    width: 100%;
}

.conoceMas-descripcion {
    width: 100%;
    background-color: #353a40;
    color: #ffffff;
    padding: 14px;
    font-family: Arial;
}


/*Footer*/

footer {
    width: 100%;
    height: 60px;
    background-color: #1d3947;
    text-align: center;
    position: relative;
    bottom: 10px;
}

footer a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}


/*Formulario*/

form {
    justify-content: center;
    text-align: center;
    margin: 20px;
}

form input {
    margin: 7px;
    width: 300px;
    height: 30px;
}

form textarea {
    width: 48%;
}


/*Decoracion (Botones,hovers)*/

footer a:hover {
    color: cadetblue;
}

nav a:hover {
    color: cadetblue;
}

#tickets {
    color: rgb(30, 182, 30)!important;
}

#ticketsButton {
    background-color: #27a746;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.6s;
    opacity: 0.9;
}

#ticketsButton:hover {
    font-weight: bold;
    font-size: x-large;
    background-color: #1a5328;
    color: #929292;
}

.buttonWhite {
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.4s;
    opacity: 0.9;
}

.buttonWhite:hover {
    font-size: x-large;
    font-weight: bold;
    background-color: #353a40;
}

#btnEnviar {
    width: 500px;
    height: 36px;
    background-color: #72eb2c;
    border-radius: 5px;
    border: 0px gray solid;
    font-size: medium;
    color: #ffffff;
    font-weight: bold;
}

#btnEnviar:hover {
    border: #000000 2px solid;
    font-weight: bold;
}

#subMensaje {
    text-align: left;
    margin-left: 320px;
    opacity: 0.8;
    color: gray;
}

.javascript {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 185, 104);
    border-radius: 6px;
    padding: 0px;
    margin: 3px;
    width: 76px;
    height: 20px;
    font-family: Arial;
}

.react {
    font-size: 15px;
    font-family: Arial;
    text-align: center;
    background-color: rgb(7, 95, 177);
    color: #ffffff;
    border-radius: 6px;
    padding: 0px;
    margin: 3px;
    width: 70px;
    height: 20px;
    font-weight: bold;
}

.buisness {
    font-size: 15px;
    font-family: Arial;
    color: #ffffff;
    background-color: rgb(77, 77, 77);
    border-radius: 6px;
    padding: 0px;
    margin: 3px;
    width: 70px;
    height: 20px;
    text-align: center;
    font-weight: bold;
}

.startups {
    font-size: 15px;
    font-family: Arial;
    color: #ffffff;
    background-color: rgb(175, 69, 69);
    border-radius: 6px;
    padding: 0px;
    margin: 3px;
    width: 70px;
    height: 20px;
    text-align: center;
    font-weight: bold;
}

@media (max-width: 700px) {
    main {
        width: 100%;
    }
    /*Nav Responsive*/
    nav {
        width: 100%;
        height: 80px;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: space-between;
    }
    .nav-item {
        list-style: none;
        color: aliceblue;
        font-size: 18px;
        margin: 0 10px;
        line-height: 60px;
        width: max-content;
        font-weight: bold;
    }
    .nav-item:hover {
        color: white;
    }
    #logo {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    #logo img {
        width: 20%;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        margin: 0px;
        background-color: rgba(28, 28, 32, 0.952);
        position: fixed;
        left: 0%;
        top: 60px;
        width: 100%;
        align-items: center;
        padding: 20px 0;
        height: calc(100%-60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    #boton-nav {
        background: none;
        color: white;
        font-size: 40px;
        border: none;
        padding: 0 5px;
        line-height: 60px;
        display: block;
    }
    .nav-menu_visible {
        left: 0;
    }
    /*Body*/
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*Tarjetas*/
    .conteiner {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
        margin: 10px auto;
    }
    .tarjeta {
        width: 400px;
        margin: 20px auto;
    }
    .presentacion-tarjeta {
        display: flex;
        text-align: center;
        text-align: justify;
        padding: 5px;
        font-size: 25px;
    }
    .presentacion-tarjeta h3 {
        text-align: left;
    }
    .informacion-tarjeta {
        font-size: 30px;
        text-align: center;
        padding: 15px;
        padding-top: 0px;
    }
    .javascript {
        font-size: x-smaller;
        font-weight: bold;
        text-align: center;
        background-color: rgb(255, 185, 104);
        border-radius: 6px;
        padding: 0px;
        margin: 3px;
        width: 140px;
        height: 30px;
    }
    .react {
        text-align: center;
        background-color: rgb(7, 95, 177);
        color: #ffffff;
        border-radius: 6px;
        padding: 0px;
        margin: 3px;
        width: 80px;
        height: 30px;
        font-weight: bold;
    }
    .buisness {
        color: #ffffff;
        background-color: rgb(77, 77, 77);
        border-radius: 6px;
        padding: 0px;
        margin: 3px;
        width: 100px;
        height: 30px;
        text-align: center;
        font-weight: bold;
    }
    .startups {
        color: #ffffff;
        background-color: rgb(175, 69, 69);
        border-radius: 6px;
        padding: 0px;
        margin: 3px;
        width: 100px;
        height: 30px;
        text-align: center;
        font-weight: bold;
    }
    /*Descripcion*/
    #descripcion {
        width: 1000px;
        margin: 0px;
        padding: 0px;
        height: 60vh;
        display: flex;
        flex-direction: column;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 20px;
    }
    h2 {
        width: 300px;
    }
    #descripcion div {
        margin: 0px;
        padding: 0px;
        width: 80vh;
        height: 100vh;
        text-align: right;
        font-weight: 100%;
        font-weight: bold;
        font-family: Arial;
        margin: 100px;
    }
    #conoceMas {
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
    #conoceMas img {
        width: 690px;
        margin: 0px;
    }
    #formulario {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    footer {
        width: 1000px;
        text-align: center;
        margin-top: auto;
    }
    #menuFooter a {
        font-size: 15px;
    }
    /*Separadores*/
    .separador p {
        font-size: 22px;
        margin: 0px auto;
    }
    .separador h2 {
        font-size: 40px;
        margin: 0px auto;
    }
    #A11 {
        font-size: 22px;
        margin: 0px auto;
    }
    #subMensaje {
        padding: 0p;
        margin-left: 100px;
    }
    .textFrom {
        margin: 5px;
        color: black;
        font-size: x-large;
    }
    .textFrom::placeholder {
        font-size: x-large;
    }
}